@import url('https://playerofgames.github.io/logseq-mia-theme/mia_sans.css');

a.tag {
    color: #a6cb90;
}
a.tag:hover { 
    color: #88d75b;
}
  
a.external-link {
    color: #cb3e49;
    text-decoration: none;
}
a.external-link:hover {
    color: #4b69d7;
    text-decoration: none;
    border: 1 solid #e5e5e5;
    box-sizing:border-box;
}

a.page-ref {
    color: #4b69d7;
}
a.page-ref:hover {
    color: #cb3e49;
}
