@import url('https://playerofgames.github.io/logseq-mia-theme/mia_sans.css');

a.tag {
    color: #a6cb90;
} 
  
a.tag:hover { 
    color: #88d75b;
}
  
.external-link {
    color: #cb3e49;
    text-decoration: none;
}
.external-link:hover {
    color: #e30012;
}

.page-ref {
    color: #4b69d7;
    font-weight: bold;
}

.page-ref:hover {
    color: #0035ff;
}
