@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');


/* :root {
	--ls-font-family: 'Source Serif 4';
	--ls-font-weight: 400;
	--ls-font-style: normal;
	--ls-page-text-size: 1em;
	--ls-page-title-size: 2em;
	--ct-code-font-family: var(--ls-font-family);
	--ct-inline-code-font-weight: 400;
	--ct-text-size: var(--ls-page-text-size);
	--ls-font-line-height: 1.8;
} */

html,
body {
  /* font-size: var(--ct-text-size); */
  /* font-family: var(--ls-font-family); */
  /* overscroll-behavior-y: none; */
  /* -webkit-font-smoothing: auto; */
  line-height: 1.8;
}

h1.title,
.ls-block h1,
.ls-block h2,
.ls-block h3,
.ls-block h4,
.ls-block h5,
.ls-block h6 {
	font-family: 'Atkinson Hyperlegible';
  	font-weight: 400;
	border-bottom: none;
	padding-bottom: 0;
	margin: 0;
	line-height: 1.5;
}

h1.title {
	font-size: 2em;
	line-height: 1.5;
}

.ls-block h1 {
	font-size: 1.8em;
}

.ls-block h2 {
	font-size: 1.5em;
	opacity: 90%;
}

.ls-block h3 {
	font-size: 1.2em;
	opacity: 75%;
}

.ls-block h4 {
	font-size: 1.1em;
	opacity: 60%;
}

.block-control-wrap {
	line-height: 1.8em;
}

.page-properties {
	font-family: 'Source Code Pro';
	font-size: 0.8em;
	line-height: 1.5em;
}

.code-editor {
	font-family: 'Source Code Pro';
	font-size: 1em;
}

.ls-block {
	font-family: 'Source Serif Pro';
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.custom-query {
	font-family: 'Atkinson Hyperlegible';
}
  
.external-link { 
    text-decoration: none;
}

.page-reference {
    font-family: 'Atkinson Hyperlegible';
}
